<header id="top">

  <div class="navbar-fixed-top" role="navigation">
      <div class="container header ">
          <nav role="navigation" aria-labelledby="block-shopmenu-menu" id="block-shopmenu">
              <ul class="menu-shop-menu">
                  <li class="menu-shop-menu__subitem">
                      <a href="#" class="menu-link menu-shop-menu__link">Change Dealer</a>
                  </li>
                  <li class="menu-shop-menu__subitem">
                      <a href="#" class="menu-link menu-shop-menu__link" (click)="logout()">Logout</a>
                  </li>
              </ul>
          </nav>
      </div>
      <div class="navbar container no-container">
          <!-- Navbar Header -->

          <div class="navbar-header">
              <!-- Logo -->
              <a class="navbar-brand" href="#">
                  <img src="../assets/images/fd-horz-logo.png" alt="Ford Direct" class="logo">
              </a>
          </div>

      </div>
  </div>
</header>
<!-- Header Ends -->

<section class="container-page  blog-leftsidebar ">
  <div class="container">
    <div class="row">

      <!-- Left Part Sidebar -->
      <div class="col-md-4 col-sm-4">
        <!-- Sidebar Begins -->
        <div class="sidebar">
          <div class="dealer-logo">

            <img src="../../assets/images/1.jpg" alt="logo dealer" class="img-responsive pull-left blog-image">
          </div>


          <!-- Categories -->
          <div class="categories animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="300">
            <h5>Active Projects</h5>
            <!-- Devider -->
            <div class="devider">
              <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn" data-animation-delay="1000"></div>

            </div>

            <!-- Search Box Begins -->
            <div class="input-group animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="300">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-addon">
                <a href="#">
                  <i class="fa fa-1x fa-search white"></i>
                </a>
              </span>
            </div>

            <!-- Active Projects -->
            <!-- Accordion Section Begins -->
            <div class="row active-projects">
              <!-- Accordion Left Part Begins -->
              <div class="col-md-12 tabs accordion-after animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">
                <!-- Title -->

                <!-- Accordion Inner Begins -->
                <div id="accordion" class="panel-group faq-panel accordion" data-animated="fadeInUp"  >

                  <!-- Accordion campaings Begins -->
                  <div class="panel panel-default" *ngFor="let key of groupedCampaignIds" [class.active]="selectedCampaign === key">
                  
                    <div class="panel-heading" >
                      <!-- Title -->
                      <div href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="panel-active-projects">
                        <span class="fa fa-bullhorn" style="flex: 18%;"></span>
                        <h5 class="panel-title">
                          <a  (click)="selectCampaign(key)">{{groupedCampaigns[key][0].campaignname}}</a>
                        </h5>
                      </div>
                      <div>
                        <span class="text campaign-title" style="display: inline;">{{groupedCampaigns[key][0].campaignexpdate}}</span>
                      </div>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseOne">
                      <!-- Projects Section Begins -->
                      <div class="panel-body">
                        <div class="panel-project-heading active" *ngFor="let campaign of groupedCampaigns[key]">
                          <section class="panel-project-content" >
                            <div>
                              <span class="fa fa-adn" style="flex: 18%"></span>
                              <span class="text campaign-subtitle" style="display: inline;">{{campaign.adname}}</span>
                            </div>
                            <div>
                              <span class="fa fa-file" style="flex: 18%"></span>
                              <span class="text campaign-subtitle" style="display: inline;">{{campaign.adid}}</span>
                            </div>
                            <div>
                              <span class="text campaign-title" style="flex: 18%">{{campaign.adexpdate}}</span>
                            </div>

                          </section>

                          <section href="#" class="panel-project-trash active fa fa-trash-o fa-1bx red">


                          </section>
                        </div>

                      </div>
                    </div>
                  </div>
                  <!-- Accordion campaings Ends -->

                 
                </div>
                <!-- Accordion Inner Ends -->
              </div>
              <!-- Accordion Left Part Ends -->


            </div>
            <hr class="hr-style">
            <!-- Accordion Section Ends -->

          </div>

        </div>
        <!-- Sidebar Ends -->
      </div>

      <!-- Right Part -->
      <div class="col-md-8 col-sm-8">

        <!-- Main form -->
        <div class="mainform" id="mainform">
          <form name="mainform" id="mainForm" method="post">
            <div class="row" style="margin-left: 0;">
              <div class="col-md-10">
                <div class="row">
                  <input type="text" name="CampaignName" id="CampaignName" placeholder="Campaign Name" class="col-md-6 pull-left input-text"
                    required >
                  <input type="text" name="AdName" id="AdName" placeholder="Ad Name" class="col-md-5 pull-right input-text" required>
                </div>
                <div class="row">
                  <input type="text" name="CampaignName" id="CampaignName" placeholder="Campaign Name" class="col-md-6 pull-left input-text"
                    required>
                  <input type="text" name="AdName" id="AdName" placeholder="Ad Name" class="col-md-5 pull-right input-text" required>
                </div>
              </div>
              <div class="col-md-2">

                <label class="mainOptionslbl">One
                  <input type="checkbox" checked="checked">
                  <span class="checkmark"></span>
                </label>

                <label class="mainOptionslbl">Two
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>

                <label class="mainOptionslbl">Three
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>

                <label class="mainOptionslbl">Four
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>

              </div>
            </div>
          </form>


        </div>
        <div class="row">

          <div class="">
            <div class="devider-line-h devider-line-h-sea-green animated zoomIn visible" data-animation="zoomIn" data-animation-delay="1000"></div>

          </div>

          <!-- Tab with Icon Section -->
          <div class="col-md-12 pull-left tabs animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="500">

            <!-- Tab Icon Section -->
            <ul class="nav nav-tabs myTab">
              <li class="active">
                <a href="#mytab1" data-toggle="tab">
                  <i class="fa fa-cloud-upload-alt"></i> Creatives</a>
              </li>
              <li>
                <a href="#mytab2" data-toggle="tab">
                  <i class="fa fa-car-alt"></i> Contact</a>
              </li>
              <li>
                <a href="#mytab3" data-toggle="tab">
                  <i class="fa fa-car-side"></i> Extras</a>
              </li>
              <li>
                <a href="#mytab4" data-toggle="tab">
                  <i class="fa fa-file-contract"></i> Disclaimers</a>
              </li>
            </ul>
            <!-- Icon Section End-->

            <!-- Content Area Section -->
            <div class="tab-content">
              <div class="tab-pane fade in active" id="mytab1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
              <div class="tab-pane fade" id="mytab2"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s.</div>
              <div class="tab-pane fade" id="mytab3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book.
              </div>
              <div class="tab-pane fade" id="mytab4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book.
              </div>
            </div>
            <!-- Content Area Section -->
          </div>
          <!-- Tab with Icon Section End-->
        </div>

      </div>
      <!-- end col-md-8 -->

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/campaign-create']">
    <mat-icon>add</mat-icon>
  </a>
</div>